.mobile-nav {
    display: none;
}

.desktop-nav {
    display: flex;
}

.backgroundWrap {
    height: 100vh;
}

@media (max-width: 500px) {
    .home-body {
        justify-content: center;
    }

    .backgroundWrap {
        height: 80vh;
    }

    .img-log {
        width: 80%;
        height: auto;
    }

    .small-img-log {
        width: 25% !important;
        height: auto;
    }

    .home-card-cont {
        margin: 30px 0px
    }

    .home-card {
        width: 80%;
    }

    .m-card-con {
        width: 100% !important;
        border-radius : 10px;
    }

    .mobile-nav {
        display: flex !important;
    }

    .desktop-nav {
        display: none !important;
    }

    .nav-conten {
        padding: 2% 3%;
    }

    .body-con {
        margin-top: 135px;
    }

    .body-con.swiper {
        margin-top: 135px !important;
    }

    .circle-logo {
        width: 300px;
        top: -1%;
        left: -40%;
    }
    .sub-btn {
        padding: 4px 20px;
    }
    .nav-items img {
        width: 20px;
        height: 20px;
    }

    .nav-items a {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    .nav-items a {
        font-size: 10px;
    }

    .m-card-desc {
        margin: 20px;
    }

    .sub-btn {
        font-size: 14px;
    }

    .center-heading {
        font-size: 18px !important;
    }

    .center-heading p {
        font-size: 14px !important;
    }

    .homefont, .nav-conten a{
        font-size: 10px !important;
    }

    .home-card{
        height: 40px;
    }
}